/* Main Color */

    .has-mercury-main-color,
    .home-page .textwidget a:hover,
    .space-header-2-top-soc a:hover,
    .space-header-menu ul.main-menu li a:hover,
    .space-header-menu ul.main-menu li:hover a,
    .space-header-2-nav ul.main-menu li a:hover,
    .space-header-2-nav ul.main-menu li:hover a,
    .space-page-content a:hover,
    .space-pros-cons ul li a:hover,
    .space-pros-cons ol li a:hover,
    .space-companies-2-archive-item-desc a:hover,
    .space-organizations-3-archive-item-terms-ins a:hover,
    .space-organizations-7-archive-item-terms a:hover,
    .space-organizations-8-archive-item-terms a:hover,
    .space-comments-form-box p.comment-notes span.required,
    form.comment-form p.comment-notes span.required {
      color: #f9ca24;
    }

    input[type="submit"],
    .has-mercury-main-background-color,
    .space-block-title span:after,
    .space-widget-title span:after,
    .space-companies-archive-item-button a,
    .space-companies-sidebar-item-button a,
    .space-organizations-3-archive-item-count,
    .space-organizations-3-archive-item-count-2,
    .space-units-archive-item-button a,
    .space-units-sidebar-item-button a,
    .space-aces-single-offer-info-button-ins a,
    .space-offers-archive-item-button a,
    .home-page .widget_mc4wp_form_widget .space-widget-title::after,
    .space-content-section .widget_mc4wp_form_widget .space-widget-title::after {
      background-color: #f9ca24;
    }

    .space-header-menu ul.main-menu li a:hover,
    .space-header-menu ul.main-menu li:hover a,
    .space-header-2-nav ul.main-menu li a:hover,
    .space-header-2-nav ul.main-menu li:hover a {
      border-bottom: 2px solid #f9ca24;
    }

    .space-header-2-top-soc a:hover {
      border: 1px solid #f9ca24;
    }

    .space-companies-archive-item-button a:hover,
    .space-units-archive-item-button a:hover,
    .space-offers-archive-item-button a:hover,
    .space-aces-single-offer-info-button-ins a:hover {
      box-shadow: 0px 8px 30px 0px rgba(249, 202, 36, 0.60) !important;
    }

    /* Second Color */

    .has-mercury-second-color,
    .space-page-content a,
    .space-pros-cons ul li a,
    .space-pros-cons ol li a,
    .space-page-content ul li:before,
    .home-page .textwidget ul li:before,
    .space-widget ul li a:hover,
    .space-page-content ul.space-mark li:before,
    .home-page .textwidget a,
    #recentcomments li a:hover,
    #recentcomments li span.comment-author-link a:hover,
    h3.comment-reply-title small a,
    .space-shortcode-wrap .space-companies-sidebar-item-title p a,
    .space-companies-sidebar-2-item-desc a,
    .space-companies-sidebar-item-title p a,
    .space-companies-archive-item-short-desc a,
    .space-companies-2-archive-item-desc a,
    .space-organizations-3-archive-item-terms-ins a,
    .space-organizations-7-archive-item-terms a,
    .space-organizations-8-archive-item-terms a,
    .space-organization-content-info a,
    .space-organization-style-2-calltoaction-text-ins a,
    .space-organization-details-item-title span,
    .space-organization-style-2-ratings-all-item-value i,
    .space-organization-style-2-calltoaction-text-ins a,
    .space-organization-content-short-desc a,
    .space-organization-header-short-desc a,
    .space-organization-content-rating-stars i,
    .space-organization-content-rating-overall .star-rating .star,
    .space-companies-archive-item-rating .star-rating .star,
    .space-organization-content-logo-stars i,
    .space-organization-content-logo-stars .star-rating .star,
    .space-companies-2-archive-item-rating .star-rating .star,
    .space-organizations-3-archive-item-rating-box .star-rating .star,
    .space-organizations-4-archive-item-title .star-rating .star,
    .space-companies-sidebar-2-item-rating .star-rating .star,
    .space-comments-list-item-date a.comment-reply-link,
    .space-categories-list-box ul li a,
    .space-news-10-item-category a,
    .small .space-news-11-item-category a,
    #scrolltop,
    .widget_mc4wp_form_widget .mc4wp-response a,
    .space-header-height.dark .space-header-menu ul.main-menu li a:hover,
    .space-header-height.dark .space-header-menu ul.main-menu li:hover a,
    .space-header-2-height.dark .space-header-2-nav ul.main-menu li a:hover,
    .space-header-2-height.dark .space-header-2-nav ul.main-menu li:hover a,
    .space-header-2-height.dark .space-header-2-top-soc a:hover,
    .space-organization-header-logo-rating i {
      color: #6ab04c;
    }

    .space-title-box-category a,
    .has-mercury-second-background-color,
    .space-organization-details-item-links a:hover,
    .space-news-2-small-item-img-category a,
    .space-news-2-item-big-box-category span,
    .space-block-title span:before,
    .space-widget-title span:before,
    .space-news-4-item.small-news-block .space-news-4-item-img-category a,
    .space-news-4-item.big-news-block .space-news-4-item-top-category span,
    .space-news-6-item-top-category span,
    .space-news-7-item-category span,
    .space-news-3-item-img-category a,
    .space-news-8-item-title-category span,
    .space-news-9-item-info-category span,
    .space-archive-loop-item-img-category a,
    .space-organizations-3-archive-item:first-child .space-organizations-3-archive-item-count,
    .space-organizations-3-archive-item:first-child .space-organizations-3-archive-item-count-2,
    .space-single-offer.space-dark-style .space-aces-single-offer-info-button-ins a,
    .space-offers-archive-item.space-dark-style .space-offers-archive-item-button a,
    nav.pagination a,
    nav.comments-pagination a,
    nav.pagination-post a span.page-number,
    .widget_tag_cloud a,
    .space-footer-top-age span.age-limit,
    .space-footer-top-soc a:hover,
    .home-page .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button,
    .space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button {
      background-color: #6ab04c;
    }

    .space-footer-top-soc a:hover,
    .space-header-2-height.dark .space-header-2-top-soc a:hover,
    .space-categories-list-box ul li a {
      border: 1px solid #6ab04c;
    }

    .space-header-height.dark .space-header-menu ul.main-menu li a:hover,
    .space-header-height.dark .space-header-menu ul.main-menu li:hover a,
    .space-header-2-height.dark .space-header-2-nav ul.main-menu li a:hover,
    .space-header-2-height.dark .space-header-2-nav ul.main-menu li:hover a {
      border-bottom: 2px solid #6ab04c;
    }

    .space-offers-archive-item.space-dark-style .space-offers-archive-item-button a:hover,
    .space-single-offer.space-dark-style .space-aces-single-offer-info-button-ins a:hover {
      box-shadow: 0px 8px 30px 0px rgba(106, 176, 76, 0.60) !important;
    }

    .space-text-gradient {
      background: #f9ca24;
      background: -webkit-linear-gradient(to right, #f9ca24 0%, #6ab04c 100%);
      background: -moz-linear-gradient(to right, #f9ca24 0%, #6ab04c 100%);
      background: linear-gradient(to right, #f9ca24 0%, #6ab04c 100%);
    }

    /* Stars Color */

    .star,
    .fa-star {
      color: #f9ca24 !important;
    }

    .space-rating-star-background {
      background-color: #f9ca24;
    }

    /* Custom header layout colors */

    /* --- Header #1 Style --- */

    .space-header-height .space-header-wrap {
      background-color: #060915;
    }

    .space-header-height .space-header-top,
    .space-header-height .space-header-logo-ins:after {
      background-color: #2d3436;
    }

    .space-header-height .space-header-top-soc a,
    .space-header-height .space-header-top-menu ul li a {
      color: #636e72;
    }

    .space-header-height .space-header-top-soc a:hover,
    .space-header-height .space-header-top-menu ul li a:hover {
      color: #c4c4c4;
    }

    .space-header-height .space-header-logo a {
      color: #ffffff;
    }

    .space-header-height .space-header-logo span {
      color: #636e72;
    }

    .space-header-height .space-header-menu ul.main-menu li,
    .space-header-height .space-header-menu ul.main-menu li a,
    .space-header-height .space-header-search {
      color: #ffffff;
    }

    .space-header-height .space-mobile-menu-icon div {
      background-color: #ffffff;
    }

    .space-header-height .space-header-menu ul.main-menu li a:hover,
    .space-header-height .space-header-menu ul.main-menu li:hover a {
      color: #f9ca24;
      border-bottom: 2px solid #f9ca24;
    }

    .space-header-height .space-header-menu ul.main-menu li ul.sub-menu {
      background-color: #ffffff;
    }

    .space-header-height .space-header-menu ul.main-menu li ul.sub-menu li.menu-item-has-children:after,
    .space-header-height .space-header-menu ul.main-menu li ul.sub-menu li a {
      color: #34495e;
      border-bottom: 1px solid transparent;
    }

    .space-header-height .space-header-menu ul.main-menu li ul.sub-menu li a:hover {
      border-bottom: 1px solid transparent;
      color: #b2bec3;
      text-decoration: none;
    }

    /* --- Header #2 Style --- */

    .space-header-2-height .space-header-2-wrap,
    .space-header-2-height .space-header-2-wrap.fixed .space-header-2-nav {
      background-color: #060915;
    }

    .space-header-2-height .space-header-2-top-ins {
      border-bottom: 1px solid #2d3436;
    }

    .space-header-2-height .space-header-2-top-soc a,
    .space-header-2-height .space-header-search {
      color: #636e72;
    }

    .space-header-2-height .space-header-2-top-soc a {
      border: 1px solid #636e72;
    }

    .space-header-2-height .space-mobile-menu-icon div {
      background-color: #636e72;
    }

    .space-header-2-height .space-header-2-top-soc a:hover {
      color: #c4c4c4;
      border: 1px solid #c4c4c4;
    }

    .space-header-2-height .space-header-2-top-logo a {
      color: #ffffff;
    }

    .space-header-2-height .space-header-2-top-logo span {
      color: #636e72;
    }

    .space-header-2-height .space-header-2-nav ul.main-menu li,
    .space-header-2-height .space-header-2-nav ul.main-menu li a {
      color: #ffffff;
    }

    .space-header-2-height .space-header-2-nav ul.main-menu li a:hover,
    .space-header-2-height .space-header-2-nav ul.main-menu li:hover a {
      color: #f9ca24;
      border-bottom: 2px solid #f9ca24;
    }

    .space-header-2-height .space-header-2-nav ul.main-menu li ul.sub-menu {
      background-color: #ffffff;
    }

    .space-header-2-height .space-header-2-nav ul.main-menu li ul.sub-menu li a,
    .space-header-2-height .space-header-2-nav ul.main-menu li ul.sub-menu li.menu-item-has-children:after {
      color: #34495e;
      border-bottom: 1px solid transparent;
    }

    .space-header-2-height .space-header-2-nav ul.main-menu li ul.sub-menu li a:hover {
      border-bottom: 1px solid transparent;
      color: #b2bec3;
      text-decoration: none;
    }

    /* --- Mobile Menu Style --- */

    .space-mobile-menu .space-mobile-menu-block {
      background-color: #060915;
    }

    .space-mobile-menu .space-mobile-menu-copy {
      border-top: 1px solid #2d3436;
    }

    .space-mobile-menu .space-mobile-menu-copy {
      color: #636e72;
    }

    .space-mobile-menu .space-mobile-menu-copy a {
      color: #636e72;
    }

    .space-mobile-menu .space-mobile-menu-copy a:hover {
      color: #c4c4c4;
    }

    .space-mobile-menu .space-mobile-menu-header a {
      color: #ffffff;
    }

    .space-mobile-menu .space-mobile-menu-header span {
      color: #636e72;
    }

    .space-mobile-menu .space-mobile-menu-list ul li {
      color: #ffffff;
    }

    .space-mobile-menu .space-mobile-menu-list ul li a {
      color: #ffffff;
    }

    .space-mobile-menu .space-close-icon .to-right,
    .space-mobile-menu .space-close-icon .to-left {
      background-color: #ffffff;
    }

    /* --- New - Label for the main menu items --- */

    ul.main-menu>li.new>a:before,
    .space-mobile-menu-list>ul>li.new:before {
      content: "New";
      color: #f9ca24;
      background-color: #222f3e;
    }

    /* --- Best - Label for the main menu items --- */

    ul.main-menu>li.best>a:before,
    .space-mobile-menu-list>ul>li.best:before {
      content: "Best";
      color: #f9ca24;
      background-color: #222f3e;
    }

    /* --- Hot - Label for the main menu items --- */

    ul.main-menu>li.hot>a:before,
    .space-mobile-menu-list>ul>li.hot:before {
      content: "Hot";
      color: #f9ca24;
      background-color: #222f3e;
    }

    /* --- Top - Label for the main menu items --- */

    ul.main-menu>li.top>a:before,
    .space-mobile-menu-list>ul>li.top:before {
      content: "Top";
      color: #f9ca24;
      background-color: #222f3e;
    }

    /* --- Fair - Label for the main menu items --- */

    ul.main-menu>li.fair>a:before,
    .space-mobile-menu-list>ul>li.fair:before {
      content: "Fair";
      color: #ffffff;
      background-color: #8c14fc;
    }

    /* Play Now - The button color */

    .space-organization-content-button a,
    .space-unit-content-button a,
    .space-organizations-3-archive-item-button-ins a,
    .space-organizations-4-archive-item-button-two-ins a,
    .space-shortcode-wrap .space-organizations-3-archive-item-button-ins a,
    .space-shortcode-wrap .space-organizations-4-archive-item-button-two-ins a {
      color: #2f3640 !important;
      background-color: #f9ca24 !important;
    }

    .space-organization-content-button a:hover,
    .space-unit-content-button a:hover,
    .space-organizations-3-archive-item-button-ins a:hover,
    .space-organizations-4-archive-item-button-two-ins a:hover {
      box-shadow: 0px 0px 15px 0px rgba(249, 202, 36, 0.55) !important;
    }

    .space-organization-header-button a.space-style-2-button,
    .space-organization-style-2-calltoaction-button-ins a.space-calltoaction-button,
    .space-style-3-organization-header-button a.space-style-3-button,
    .space-organizations-7-archive-item-button-two a,
    .space-organizations-8-archive-item-button-two a,
    .space-organization-float-bar-button-wrap a {
      color: #2f3640 !important;
      background-color: #f9ca24 !important;
      box-shadow: 0px 5px 15px 0px rgba(249, 202, 36, 0.55) !important;
    }

    .space-organization-header-button a.space-style-2-button:hover,
    .space-organization-style-2-calltoaction-button-ins a.space-calltoaction-button:hover,
    .space-style-3-organization-header-button a.space-style-3-button:hover,
    .space-organizations-7-archive-item-button-two a:hover,
    .space-organizations-8-archive-item-button-two a:hover,
    .space-organization-float-bar-button-wrap a:hover {
      box-shadow: 0px 5px 15px 0px rgba(249, 202, 36, 0) !important;
    }

    .space-organizations-5-archive-item-button1 a,
    .space-organizations-6-archive-item-button1 a,
    .space-units-2-archive-item-button1 a,
    .space-units-3-archive-item-button1 a {
      color: #2f3640 !important;
      background-color: #f9ca24 !important;
      box-shadow: 0px 10px 15px 0px rgba(249, 202, 36, 0.5) !important;
    }

    .space-organizations-5-archive-item-button1 a:hover,
    .space-organizations-6-archive-item-button1 a:hover,
    .space-units-2-archive-item-button1 a:hover,
    .space-units-3-archive-item-button1 a:hover {
      box-shadow: 0px 10px 15px 0px rgba(249, 202, 36, 0) !important;
    }

    /* Read Review - The button color */

    .space-organizations-3-archive-item-button-ins a:last-child,
    .space-organizations-4-archive-item-button-one-ins a,
    .space-shortcode-wrap .space-organizations-4-archive-item-button-one-ins a {
      color: #718093 !important;
      background-color: #dcdde1 !important;
    }

    .space-organizations-3-archive-item-button-ins a:last-child:hover,
    .space-organizations-4-archive-item-button-one-ins a:hover {
      box-shadow: 0px 0px 15px 0px rgba(220, 221, 225, 0.55) !important;
    }